[submodule "Перемыщев_Глеб"]
	path = Перемыщев_Глеб
	url = https://github.com/qXOMAp/OAP
[submodule "Абрамов_Миша"]
	path = Абрамов_Миша
	url = https://github.com/God-Emperor-of-Mankind/ImperiumOfMankind
